
body {
  font-family: Arial, sans-serif;
  background-image: url("/imagenes/fondo.png");
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.app {
  width: 380px;                
  padding: 15px;                 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* TÍTULO */
.app h1 {
  margin-bottom: 20px;          
  color: #d32f2f;
  letter-spacing: 2px;
}


.actor-img {
  width: 180px;                 
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  background-color: #ff00ff;
  display: block;
  margin: 0 auto 15px auto;   
  /*filter: blur(10px);*/
  transition: filter 0.3s ease;
}

.actor-img.revealed {
  filter: blur(0);
}

.guess-box {
  margin-bottom: 15px;           
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.guess-box input {
  padding: 8px;
  width: 180px;                 
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.guess-box button {
  padding: 8px 18px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guess-box button:hover {
  background-color: #1565c0;
}

/* PISTAS */
.pistas {
  margin-bottom: 15px;         
}

.pistas p {
  background-color: #ffb6ff;
  display: inline-block;
  padding: 6px 10px;            
  border-radius: 10px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

/* MENSAJE */
.mensaje {
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

/* BOTÓN SIGUIENTE */
.next-btn {
  padding: 8px 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #45a049;
}
